.multiStepForm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
}

.input {
    height: 30px;
    width: 100%;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerbtn {
    height: 40px;
    width: 200px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
    padding: 10px 0;
}