.componentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.scrollContainer {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
}